{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

{% block content %}

<h2>Welcome</h2>
<p>This app is developed to assist in chronological profiling of PhD programs in philosophy across the United States.</p>
<h2>Dataset</h2>
<p>The dataset contains historical data from the graduate students directories and placement pages, scraped using Wayback Machine archive.
</p>
<br><br>
<div class="center-container">
    <button id="exploreData">Explore Data</button>
</div>
<div id="allData" style="display:none;"></div>
<script>
    document.getElementById('exploreData').addEventListener('click', function () {
        // Hide the Explore Data button
        var exploreDataButton = document.getElementById('exploreData');
        exploreDataButton.style.display = 'none';

        // Create and display the loading message
        let loadingMessage = document.createElement('div');
        loadingMessage.id = 'loadingMessage';
        loadingMessage.textContent = 'Fetching data. Please wait...';
        exploreDataButton.parentNode.insertBefore(loadingMessage, exploreDataButton.nextSibling);

        fetch('/fetch-all-data')
            .then(response => response.json())
            .then(data => {
                // Hide the loading message
                document.getElementById('loadingMessage').remove();

                // Show the Explore Data button again
                exploreDataButton.style.display = 'block';

                if (data.profile) {
                    let container = document.createElement('div');
                    container.className = 'profile-container';
                    container.innerHTML = data.profile;
                    document.getElementById('allData').style.display = 'block';
                    document.getElementById('allData').appendChild(container);
                } else {
                    // Handle error or no data case
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Hide loading message and show the button again
                document.getElementById('loadingMessage').remove();
                exploreDataButton.style.display = 'block';
            });
    });
</script>
<br><br>
<p>&copy; 2023 PhD Stats App</p>
{% endblock %}
