/* Dropdown styling */

.dropdown-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 0px solid var(--primary-hover-color);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--dropdown-bg-color);
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.dropdown-list-item {
    padding: 10px;
    border-bottom: 0px solid var(--primary-hover-color);
    cursor: pointer;
}

.dropdown-list-item:hover,
.dropdown-list-item.active {
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);
}

/* SearchBar.css */

.form-group {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    display: block;
    position: relative;
}

.form-control {
    background-color: var(--input-bg-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--primary-hover-color);
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.form-control:focus {
    background-color: var(--input-bg-color-focus);
    border-color: var(--primary-color);
}