@import 'css/_tables.css';
@import 'css/_nav.css';
@import 'css/_search.css';
@import 'css/_stats.css';

:root {
    --primary-color: rgba(103, 131, 223, 1);
    --primary-hover-color: rgba(133, 166, 223, 0.8);
    --primary-text-color: rgba(255, 255, 255, 0.9);
    --secondary-text-color: rgba(0, 0, 0, 1);
    --background-color: rgba(255, 255, 255, 0.1);
    --dropdown-bg-color: rgb(240, 240, 240);
    --highlight-color: rgb(103, 131, 223);
    --highlight-text-color: rgb(240, 240, 240);
    --input-bg-color: rgba(240, 240, 240, 0.9);
    --input-bg-color-focus: rgba(240, 240, 240, 0.9);
    --tooltip-color: rgba(15, 150, 150, 1);
}

/* App.css */

.app-container {
    font-family: "Merriweather, Georgia, serif", serif;
    background-image: url('./background-image.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.app-footer {
    margin-top: 5rem;
}

.app-footer-text {
    text-align: center;
}

.powered-by-ai {
    display: block;
    text-align: right;
    font-size: 14px;
    margin-top: 10px;
}

.powered-by-ai img {
    height: 19px;
    vertical-align: top;
}